body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex; /*this displays the html list to the left*/
  /*justify-content: flex-end; /*this moves the whole navbar to the right*/
  justify-content: space-between; /*this moves just the menu items to the right*/
}
.btn {
  border-radius: 20px;
  align-items: center;
  padding: 5px;
}
.btn-success {
  background-color: green;
}
.btn-danger {
  background-color: red;
}
.menu ul {
  /*this spreads the menu on our html code*/
  display: flex;
  list-style-type: none; /*this removes the bullet point that are usually displayed by default on the unoredred lists i.e it removes the underline*/
}
/*.menu {
  /*this moves the menu items to the center*/
/*position: absolute;
  right: 500px;
}*/
.menu li a {
  padding: 10px;
  text-decoration: none; /*this removes the underline in the navbar lists*/
}
.menu li a:hover {
  background-color: blueviolet;
  border-radius: 15px;
  color: #fff;
}
.menu .active {
  background-color: blueviolet;
  border-radius: 15px;
  color: #fff;
}
.hero {
  background-image: url("/images/wedding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 0 50px;
  margin: 0;
}
.hero-content {
  /*margin-top: 250px; /*this moves the hero space at the top*/
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-text {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  
}
.hero-form input,
.btn-search{
  padding: 10px 30px 10px 5px;
  border-radius: 5px;
  border: solid 1px;
}
.btn-search{
  text-align: center;
  background-color: #dfdfdf;
  padding: 10px 30px;
}
.container{
  padding: 10px 40px;
}
.category-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.category-text h4{
  font-size: 25px;
  font-weight: 400;
}
.category-text h5{
  font-size: 10px;
  font-weight: 400;
}
.card-image,
.card-desc{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
.card-image img{
  flex: 1;
  margin-right: 10px;
  max-width: 25%;
  border-radius: 5px;
}
.card-desc h4{
  flex: 2; /*this divides the words into sections*/
}
.card-scroll{
  display: flex;
  justify-content: center;
  align-items: center;
}
,card-scroll h3{
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #e0e0e0;
  border: 1px solid #cacaca;
  border-radius: 10px;
}
.card-scroll i{
  background-color: #b2b2b2;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  
}

